In [29]:
import pandas as pd

In [30]:
data=pd.read_csv('/content/drive/MyDrive/hdp.csv')

In [31]:
data

,age,cigsPerDay,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,45,3.000000,250.000000,130.000000,80.000000,20.240000,90.000000,86.000000,0
1,34,0.000000,227.000000,131.500000,84.000000,25.410000,60.000000,87.000000,0
2,43,0.000000,228.000000,180.000000,110.000000,30.300000,77.000000,99.000000,0
3,43,20.000000,208.000000,119.000000,69.000000,19.480000,67.000000,73.000000,0
4,44,23.000000,272.000000,115.000000,76.000000,24.160000,80.000000,77.000000,0
...,...,...,...,...,...,...,...,...,...
5716,50,2.539805,240.301746,128.666795,83.873010,25.589772,67.015922,89.777863,1
5717,50,24.155357,262.324285,137.700982,90.415536,22.648086,97.844643,83.493214,1
5718,55,0.000000,177.496833,147.124525,97.246517,26.937312,69.499367,72.753483,1
5719,60,0.000000,182.954974,150.225132,86.030018,25.012778,66.030018,70.105061,1
5720,51,0.000000,201.643177,134.215885,92.929531,29.359083,82.464765,68.605704,1

In [32]:
X=data.drop('TenYearCHD',axis=1)

In [33]:
y=data[['TenYearCHD']]

In [34]:
X.shape,y.shape

((5721, 8), (5721, 1))

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,shuffle=True)

In [37]:
(X_train.shape,y_train.shape),(X_test.shape,y_test.shape)

(((4576, 8), (4576, 1)), ((1145, 8), (1145, 1)))

In [38]:
from sklearn.linear_model import LogisticRegression

In [39]:
model=LogisticRegression()

In [40]:
model.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [41]:
import numpy as np

In [42]:
predictions=model.predict(X_test)

In [43]:
from sklearn.metrics import accuracy_score

In [44]:
accuracy_score(y_test,predictions)

0.6602620087336245

In [45]:
import pickle 
pickle_out=open('Classifier.pkl','wb')
pickle.dump(model,pickle_out)
pickle_out.close()

In [46]:
%%writefile Disease.py
import streamlit as st
import pickle

pickle_in=open('Classifier.pkl','rb')
clf=pickle.load(pickle_in)

a=st.number_input('AGE')
b=st.number_input('CIGS PER DAY')
c=st.number_input('TOT CHOL')
d=st.number_input('SYSTOLOC BP')
e=st.number_input('DISTOLIC BP')
f=st.number_input('BMI')
g=st.number_input('HEART RATE')
h=st.number_input('GLUCOSE')

r=''
if st.button('PREDICT'):
    result=clf.predict([[a,b,c,d,e,f,g,h]]).squeeze()
    if result==0:
        st.success('YOUR RISK IS LOW')
    else:
        st.success('YOUR RISK IS HIGH')

Overwriting Disease.py

In [47]:
!pip install -q streamlit
!pip install -q pyngrok

In [48]:
!ngrok authtoken 26bG99fmClCKZOcSSfIYk6toptq_7sfWNwRR3rAvmQ9cdqut

Authtoken saved to configuration file: /root/.ngrok2/ngrok.yml

In [49]:
!streamlit run Disease.py &>/dev/null &

In [51]:
from pyngrok import ngrok
public_url=ngrok.connect('8501')
public_url

t=2022-08-05T05:27:58+0000 lvl=eror msg="failed to auth" obj=tunnels.session err="Your account is limited to 1 simultaneous ngrok agent session.\nActive ngrok agent sessions in region 'us':\n  - ts_2CvJQ0bkZXpT342DHYX9H5CYYfV (35.221.26.113)\r\n\r\nERR_NGROK_108\r\n"
t=2022-08-05T05:27:58+0000 lvl=eror msg="failed to reconnect session" obj=csess id=631890668b0a err="Your account is limited to 1 simultaneous ngrok agent session.\nActive ngrok agent sessions in region 'us':\n  - ts_2CvJQ0bkZXpT342DHYX9H5CYYfV (35.221.26.113)\r\n\r\nERR_NGROK_108\r\n"
t=2022-08-05T05:27:58+0000 lvl=eror msg="session closing" obj=tunnels.session err="Your account is limited to 1 simultaneous ngrok agent session.\nActive ngrok agent sessions in region 'us':\n  - ts_2CvJQ0bkZXpT342DHYX9H5CYYfV (35.221.26.113)\r\n\r\nERR_NGROK_108\r\n"

PyngrokNgrokError: ignored

In [ ]:
'''%%writefile app.py
import streamlit as st
st.success('HII')'''